<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-2">
            <img src="<%= playground.image%>" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title"><%= playground.title%></h5>
                <p class="card-text"><%= playground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= playground.address %>
                </li>
                <li class="list-group-item"><%= playground.deivices %></li>
            </ul>
            <div class="card-body">
                <a
                    class="card-link btn btn-info"
                    href="/playgrounds/<%= playground._id %>/edit "
                    >Edit</a
                >
                <form
                    class="d-inline"
                    action="/playgrounds/<%= playground._id%>?_method=DELETE"
                    method="POST"
                >
                
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/playgrounds">All Playgrounds</a>
            </div>
        </div>
            
    </div>
</div>
